/* [ Homepage ] */

.main-container {
    padding: 30px 0 !important;
}

.container-home {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.color-block {
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

.bg {
    background-image: url(../../assets/img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: calc(100vh - 60px);
    z-index: 111;
    border-radius: 15px;
    left: 30px;
    top: 30px;
    box-shadow: 0 0 7px rgba(0,0,0,.9);
}

.container-home {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.main-img-mobile {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    display: block;
}

.home-details > div {
    max-width: 550px;
    margin: 0 auto;
}

.home-details h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    margin: 18px 0 10px;
}

.home-details h1 span {
    color: #fff;
    font-weight: 600;
}

.home-details h6 {
    color: #eee;
    font-size: 22px;
    font-weight: 400;
    display: block;
}

.home-details p {
    margin: 10px 0 23px;
    font-size: 16px;
    line-height: 32px;
}

/* [ RESPONSIVE DESIGN STYLES ] */
@media (max-width: 1350px) and (min-width: 992px) {
    .container {
        max-width: calc(100% - 195px);
    }
}

@media (max-width: 1100px) and (min-width: 992px) {
    .home-details > div {
        max-width: 450px;
    }
}

@media (min-width: 1600px) {
    .home-details > div {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    .home-details-container {
        width: 100%;
        height: 100vh;
    }

    .home {
        overflow: hidden;
    }
}

/* Mobile  Navigation */

@media (max-width: 991px) {
    .home {
        padding: 25px;
    }

    .main-container {
        padding: 30px 0 !important;
    }

    .home-details-container {
        margin: 0 auto !important;
    }

    .home-details {
        padding: 0;
    }

    .main-img-mobile {
        border-radius: 50%;
        width: 270px;
        height: 270px;
        border: 4px solid #252525;
        margin: 0 auto 25px;
        display: block;
    }

    .home-details h1 {
        font-size: 38px;
        line-height: 38px;
        margin: 29px 0 13px;
    }

    .home-details p {
        margin: 10px 0 23px;
        font-size: 15px;
        line-height: 30px;
    }

    #menuToggle {
        display: inline-block;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1111;
        user-select: none;
        padding: 19px 0 0 16px;
        width: 54px;
        height: 54px;
        border-radius: 5px;
        background: #252525;
    }

    #menuToggle input {
        display: flex;
        width: 54px;
        height: 54px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        top: 0;
        left: 0;
    }

    #menuToggle > span {
        display: flex;
        width: 23px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle > span:first-child {
        transform-origin: 0 0;
    }

    #menuToggle > span:nth-last-child(2) {
        transform-origin: 0 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(4px, 0);
        background: #fff;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(2px, 4px);
    }

    #menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 60px;
        background-color: #252525;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    #menu li {
        position: relative;
        padding-left: 30px;
    }

    #menu li:after {
        position: absolute;
        content: '';
        height: 1px;
        width: calc(100% - 60px);
        background: #333;
        left: 30px;
    }

    #menu li:last-child:after {
        display: none;
    }

    #menu li.active a span {
        font-weight: 600;
    }

    #menu li a {
        color: #fff;
        text-transform: uppercase;
        transition-delay: 2s;
        font-size: 26px;
        display: block;
        text-decoration: none;
        padding: 14px 0;
        position: relative;
    }

    #menu li a span {
        position: absolute;
        left: 50px;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .home-details p {
        font-size: 14px;
        line-height: 28px;
    }
}

@media (max-width: 576px) {
    #menuToggle {
        right: 10px;
        top: 4px;
        padding: 19px 0 0 13px;
        width: 49px;
        height: 49px;
    }

    #menuToggle {
        right: 25px;
        top: 25px;
        padding: 17px 0 0 13px;
    }

    #menu li {
        padding-left: 25px;
    }

    #menu li a {
        font-size: 18px;
    }

    #menu li:after {
        width: calc(100% - 50px);
        left: 25px;
    }

    #menu li a span {
        left: 35px;
    }

    .main-content {
        padding-top: 85px;
    }

    .main-content > .container {
        padding: 0 25px;
    }

    .main-img-mobile {
        width: 230px;
        height: 230px;
    }

    .home-details h1 {
        font-size: 29px;
        line-height: 29px;
        margin: 18px 0 13px;
    }

    .home-details h6 {
        font-size: 19px;
    }

    .title-bg {
        display: none;
    }

    .custom-title {
        font-size: 21px;
    }
}
